@charaset "UTF-8";

* {
	text-decoration: none;
	color: #333;
	list-style: none;
}

main {
	position: relative;
	top: 48px;
	font-size: 16px;
	background: #fafafa;
}

/*manual*/
.manual_inner {
	padding: 40px 8px;
}

.manual_inner h2 {
	font-size: 1.5rem;
	color: #5D8E96;
	text-align: center;
	margin-bottom: 24px;
}

.manual_inner .manual_detail {
	margin-top: 56px;
}

.manual_detail ul li {
	margin-top: 32px;
}

.manual_detail ul li:first-child {
	margin-top: 0;
}

.manual_detail ul li::before {
	content: "・";
}

.manual_detail ul li .detail_text {
	margin-top: 8px;
	padding: 16px;
	background: #E9F0F1;
}

.manual_inner .manual_detail:last-child {
	margin-bottom: 56px;
}


@media screen and (min-width: 768px){
	main {
		top: 80px;
	}
	
	.manual_inner {
		padding: 40px 24px;
	}
	.manual_preamble h2 br {
		display: none;
	}
}

@media screen and (min-width: 960px){
	.manual_inner {
		max-width: 1280px;
		margin: 0 auto;
	}
}

