/* CSS Document */
* {
	text-decoration: none;
	color: #333;
}

main {
	position: relative;
	top: 48px;
	font-size: 16px;
/*	background: #fafafa;*/
	height: auto;
}


/*プロフ内容*/
.prof_inner {
	padding: 40px 8px;
}

.prof_inner .prof_text {
	line-height: 160%;
	margin-bottom: 40px;
}

.prof_inner .prof_detail .prof_illust {
	background: #fff;
	padding: 24px;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-sizing: border-box;
	text-align: center;
	margin-bottom: 24px;
}

.prof_inner .prof_detail .prof_info dl {
	display: flex;
	font-size: 0.9rem;
	margin-bottom: 16px;
}

.prof_inner .prof_detail .prof_info dl dt {
	width: 24%;
}

.prof_inner .prof_detail .prof_info dl dd {
	width: 76%;
}

@media screen and (min-width: 768px){
	main {
		top: 80px;
	}
	
	.prof_inner {
		padding: 40px 24px;
	}
	.prof_inner .prof_detail {
		display: flex;
	}
	.prof_inner .prof_detail .prof_illust {
		width: 30%;
		height: 256px;
		margin-right: 4%;
	}
	.prof_inner .prof_detail .prof_info {
		width: 68%;
	}
	.prof_inner .prof_detail .prof_info dl dt {
		width: 16%;
	}
	.prof_inner .prof_detail .prof_info dl dd {
		width: 84%;
	}
}

@media screen and (min-width: 960px){
	.prof_inner {
		max-width: 1280px;
		margin: 0 auto;
	}
		
	footer {
		top: 80px;
	}
}